#feedbacks .content-container{
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
#feedbacks .feedback{
    width: 264px;
}

#feedbacks .feedback img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 16px;
}


#feedbacks .feedback .reviewer-details .name{
    font-family: Alegreya;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 7px;
}

#feedbacks .feedback .reviewer-details .review{
    font-family: Alegreya;
    font-size: 16px;
    font-weight: 400;
}

/* tablet version */

@media (max-width:1040px){
    #feedbacks .content-container{
        flex-direction: column;
        gap: 50px;
        margin-left: 20px;
        margin-top: 60px;
        justify-content: center;
        
    }

    #feedbacks .feedback{
        display: flex;
        gap: 28px;
        width: 100%;
    }

        #feedbacks .feedback .reviewer-details{
            margin-top: 8px;
        }
}

/* mobile version */

@media (max-width:720px){
    #feedbacks .feedback{
        flex-direction: column;
        gap: 16px;
        text-align: center;
        align-items: center;
    }

#feedbacks .feedback img{
    margin-bottom: 0px;
}
}