#feedback .content-container{
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
#feedbacks .feedback{
    width: 100%;
}

#feedbacks .feedback img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 16px;
}

#feedbacks .feedback .reviewer-details .name{
    font-family: Alegreya;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 7px;
}

#feedbacks .feedback .reviewer-details .review{
    font-family: Alegreya;
    font-size: 16px;
    font-weight: 400;
    width: 264px;
}