#blog .content-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 41px;
}

#blog .post img{
    height: 159px;
    align-self: stretch;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    object-fit: cover;
}

#blog .post{
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    transition: all 400ms ease;
}

#blog .post:hover{
    transform: scale(1.04);
}

#blog .post .tag{
    display: flex;
    padding: 0px 16px;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    right: 8px;
    top: 8px;
    border-radius: 10px;
    background: #FFF;
    color: #000;
    font-family: 'Alegreya',serif;
    font-size: 13px;
    font-weight: 700;
}

#blog .post .post-title{
    padding: 16px 24px;
    align-self: stretch;
    color: #000;
    font-family: Alegreya;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

#blog .btn-container{
    display: flex;
    justify-content: right;  
}

#blog .all-post-btn{
    color: #000;
    font-family: Alegreya;
    font-size: 16px;
    font-weight: 700;
    padding: 4px 32px;
    border-radius: 10px;
    background: #FFF;
    margin-top: 30px;
}